
{% include 'admin/public/load_top.html' %}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        
        {% include 'admin/public/load_header.html' %}
        {% include 'admin/public/load_sidebar.html' %}


        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    BLOG-ADMIN<small>Version 1.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                                <div class="pull-left">
                                    <a class="btn btn-primary btn-sm" href="{% url 'paper_add' %}"> <i class="fa fa-save"></i> 新增</a> 
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table class="table table-bordered table-hover table-sort">
                                    <tr>
                                        <th width="35"><input type="checkbox" class="minimal checkbox-toggle"></th>
                                        <th>id</th>
                                        <th>名称</th>
                                        <th>分类</th>
                                        <th>作者</th>
                                        <th>点击数</th>
                                        <th>创建时间</th>
                                        <th>编辑时间</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    {% for p in papers %}
                                    <tr>
                                        <td><input type="checkbox" name="id[]" value="{{ p.id }}" class="minimal"></td>
                                        <td>{{ p.id }}</td>
                                        <td>
                                            <span class="editable" data-pk="{{ p.id }}" data-name="{{ p.title }}" data-url="{% url 'paper_edit_inline' %}">{{ p.title }}</span>
                                        </td>
                                        <td>
                                            {{ p.category }}
                                        </td>
                                        <td>{{ p.author }}</td>
                                        <td>{{ p.like }}</td>
                                        <td>{{ p.data }}</td>
                                        <td>{{ p.edit_data }}</td>
                                        <td>
                                            <a href="javascript:void(0);" data-id="{{ p.id }}" data-field="status" 
                                            data-value="{{ p.status }}" data-url="{% url 'paper_edit_inline' %}"
                                            class='editimg fa {% ifequal p.status 1 %}fa-check-circle text-green{% else %}fa-times-circle text-red{% endifequal %}'></a>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="{% url 'paper_detail' %}?pid={{ p.id }}" target="_blank"><i class="fa fa-eye"></i>查看</a>
                                            <a class="btn btn-primary btn-xs" href="{% url 'paper_edit' %}?pid={{ p.id }}"><i class="fa fa-edit"></i> 编辑</a> 
                                            <a value="{% url 'paper_del' %}?pid={{ p.id }}" class="btn btn-xs btn-danger file_del">删除</a> 
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
         
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        {% include 'admin/public/load_foot.html' %}
    </div>
<script>
    $(document).ready(function(){
        $('.file_del').click(function(){
            var row = $(this).closest('tr');
            if (confirm("确定删除")) {
            $.get(
                    $(this).attr('value'),
                    {},
                    function(data){
                        row.remove();
                        alert(data);
                    }
            )}
        });
    });

    $(function(){
    $('.editable').editable({
        emptytext: "empty",
        params: function(params){
            var data = {};
            data['id'] = params.pk
            data['name'] = params.value
            return data;
        },
        success: function(response, newValue){
            var res = $.parseJSON(response);
            if (res.status == 1) {

            }else{
                return res.info;
            }
        }
    });
});
</script>
    {% include 'admin/public/load_bottom.html' %}
</body>
</html>
