{% load common_func %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ 'title'|get_config }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<meta name="keywords" content="{{ 'keywords'|get_config }}" />
	<meta name="description" content="{{ 'description'|get_config }}" />
	<meta property="wb:webmaster" content="44e776a059a7b560" />
	{% include 'blog/public/top_resource.html' %}
	{% block top_temp_resource %}{% endblock %}
</head>
<body id='body' style="background-color: ">
	{% include 'blog/public/header_bar.html' %}
	{% block content %}{% endblock %}
	{% include 'blog/public/bottom.html' %}
	{% block temp_resource %}{% endblock %}
</body>
</html>