{% load common_func %}
<footer class="blog-footer" style="margin: 0px;">
    <div class="row " style="margin: 0px;">
        <div class="col-sm-6" style="padding: 0px 0px 20px 0px;">
            <div class="row" align="center" style="margin: 0px; padding: 0px 0px 20px 0px;">
                <h4 style="color: #EAEAEA;"> <i class="fa fa-paper-plane-o">网站地图</i></h4>
                    {% for c in ''|web_map %}
                    <div class="col-sm-6 col-xs-6">
                        <a href="{% url 'category_detail' %}?cid={{ c.id }}"  target="_blank" >
                            {{ c.category_name }}
                        </a>
                    </div>
                    {% endfor %}
            </div>
        </div>

        <div class="col-sm-6"  style="border-left:2px solid #8a8080;">
            <div>
                <h4 style="color: #EAEAEA;"><i class="fa fa-chain">常用链接</i></h4>
                {% for b in  ''|blogroll %}
                <div class="col-sm-6 col-xs-6">
                    <a href="{{ b.web_link }}"  target="_blank" >
                        {{ b.web_name }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div style="padding: 50px 0px 0px 0px;"> 
        {{ 'record'|get_config|safe }}
        <br>
        {{ 'copyright'|get_config|safe }}
    </div>

    <div class="center">
        <a href="javascript:void(0);" id="page-black">夜间</a>&nbsp;|&nbsp;
        <a href="javascript:void(0);" id="page-white">白天</a>
    </div>
</footer>
<br>
        