{% extends 'blog/public/base.html' %}

{% block content %}
{% load common_func %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">搜索结果</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
            <br>
                <div>
                    搜索关键词： <strong class="font-red">{{ k }}</strong>&nbsp;, 查找到 {{ total }} 个结果。
                </div>
                <hr>
                {% for p in papers %}
                <div class="list-arc-item ">
                    <a href="{% url 'paper_detail' %}?pid={{ p.id }}" title="{{ p.title }}">
                        <div class="list-box">
                            <h3>{{ p.title|safe }}</h3>
                            <div class="info">{{ p.description|safe }}</div>
                        </div>
                    </a>
                    <div class="tags font-ei ">
                        <i class="fa fa-tags" title="文章标签：{{ p.category }}" data-toggle="tooltip"> {{ p.category }}</i>&nbsp;
                        <i class="fa fa-clock-o" title="时间：{{ p.data|date:'Y-m-j' }}" data-toggle="tooltip" > {{ p.data|date:"Y-m-j" }}</i>&nbsp;
                        <i class="icon icon-comments" title="评论：{{ p.comment_total }}" data-toggle="tooltip" > {{ p.comment_total }}</i>&nbsp;
                        <i class="fa fa-thumbs-o-up" title="点赞：{{ p.like }}" data-toggle="tooltip" > {{ p.like }}</i>&nbsp;
                    </div>
            
                </div><hr>
                {% endfor %}
            </div>
        </div><!-- /.blog-main -->

        <!-- sidebar -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            {% include "blog/public/sidebar.html" %}
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
{% endblock %}
