<!-- FastClick -->
<script src="/static/bower_components/fastclick/lib/fastclick.js"></script>

<script src="/static/js/jquery.form.js"></script>
<!-- AdminLTE App -->
<script src="/static/js/adminlte.min.js"></script>
<!-- Sparkline -->
<script src="/static/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

<!-- SlimScroll -->
<script src="/static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<!-- ChartJS -->
<script src="/static/plugins/ECharts/dist/echarts.min.js"></script>
<script src="/static/plugins/ECharts/map/js/china.js"></script>
<script src="/static/plugins/chartJS/dist/Chart.js"></script>


<script src="/static/bower_components/select2/dist/js/select2.full.min.js"></script>

<!-- support for date-picker -->
<script src="/static/bower_components/moment/min/moment.min.js"></script>
<!-- date-range-picker -->
<script src="/static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- bootstrap datepicker -->
<script src="/static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<!-- bootstrap time picker -->
<script src="/static/plugins/timepicker/bootstrap-timepicker.min.js"></script>

<!-- bootstrap color picker -->
<script src="/static/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

<script src="/static/plugins/iCheck/icheck.min.js"></script>

<script src="/static/js/editable/editable.js"></script>

<script src="/static/plugins/toastr/toastr.js"></script>

<script src="/static/plugins/Amaranjs/jquery.amaran.min.js"></script>

<script src="/static/common/common.js"></script>

<script src="/static/plugins/bootstrap/js/bootstrap-dialog.min.js"></script>



<!-- <script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script> -->
<script src="/static/plugins/editor.md/editormd.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {

            width: "90%",
            height: 730,
            path : "/static/plugins/editor.md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
            codeFold : true,
            saveHTMLToTextarea : true,
            searchReplace : true,
            // htmlDecode : "style,script,iframe|on*",
            emoji : true,
            taskList : true,
            tocm : true,         // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "{% url 'admin_markdown_upload_image' %}",
            onload : function() {
                console.log('onload', this);
            }
        });

        /*
        // or
        var editor = editormd({
            id   : "editormd",
            path : "../lib/"
        });
        */
    });
</script>