{% load common_func  %}
<div class="tab-pane active" id="tab_base">
    <div class="form-group">
        <label class="col-sm-2 control-label">所属类型</label>

        <div class="col-sm-7">
            <select class="form-control select2" name="typeid" style="width:100%;">
                {% for c in cate %}
                <option value="{{ c.id }}" {% ifequal c.id p.id%} selected="selected" {% endifequal %} {% ifequal c.id cid %} selected="selected" {% endifequal %}>{{ c.category_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">文章标题</label>
        <div class="col-sm-7"><input class="form-control" name="title" value="{{ p.title }}" placeholder="{{ p.title }}"></div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">标签</label>
        <div class="col-sm-7">
            <input class="form-control" name="tag" value="{{ p.tag }}" placeholder="{{ p.tag }}">
        </div>
    </div>

<!--     <div class="form-group">
        <label class="col-sm-2 control-label">标签</label>
        <div class="col-sm-7">
            <select class="form-control select2" multiple="multiple" data-placeholder="{{ p.tag }}"
                style="width: 100%;">
                {% for t in tags %}
                    <option>Alabama</option>
                {% endfor %}
            </select>
        </div>
    </div> -->

    <div class="form-group">
        <label class="col-sm-2 control-label">属性</label>
        <div class="col-sm-7">
            <input type="checkbox" class="hide" name="flag[]" value="" checked="checked" />
            <label class="checkbox-inline">
                <input type="checkbox" name="flag[]" value="h"   class="minimal"> 头条        
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="flag[]" value="p"  class="minimal"> 图片        
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="flag[]" value="j"   class="minimal"> 跳转        
            </label>
        </div>
    </div>

    <div class="form-group hide" id="jumplink">
        <label class="col-sm-2 control-label">跳转地址</label>
        <div class="col-sm-7"><input class="form-control" name="jumplink" value="{{ p.jumplink }}" placeholder="{{ p.jumplink }}"></div>
    </div>

    <div class="form-group hide" id="litpic">
        <label class="col-sm-2 control-label">缩略图</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input class="form-control" name="litpic" value="{{ p.litpic }}" placeholder="{{ p.litpic }}" >
                <span class="input-group-btn">
                    <a href="{{ p.litpic }}" target="_blank" >
                        <img src="{{ p.litpic|get_weblogo }}" style="height:34px; width:68px;" />
                    </a>
                    <button class="btn btn-success btn-flat up-btn" type="button" data-url="{% url 'admin_upload_image' %}">
                        <i class="fa fa-cloud-upload"> 上传 </i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div id="editormd">
            <textarea style="display:none;" name="content">{{ p.content|safe }}</textarea>
        </div>
    </div>

</div>