
{% include 'admin/public/load_top.html' %}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        
        {% include 'admin/public/load_header.html' %}
        {% include 'admin/public/load_sidebar.html' %}


        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    用户列表
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                                <div class="pull-left">
                                    <a class="btn btn-primary btn-sm" href="{% url 'user_add' %}"> <i class="fa fa-save"></i> 新增</a> 
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table class="table table-bordered table-hover table-sort">
                                    <tr>
                                        <th width="35"><input type="checkbox" class="minimal checkbox-toggle"></th>
                                        <th>id</th>
                                        <th>头像</th>
                                        <th>登录用户名</th>
                                        <th>姓名</th>
                                        <th>邮箱</th>
                                        <th>登录次数</th>
                                        <th>管理员</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    {% for u in users.object_list %}
                                    <tr>
                                        <td><input type="checkbox" name="id[]" value="{{ p.id }}" class="minimal"></td>
                                        <td>{{ u.id }}</td>
                                        <td><img src="{{ u.profile }}" style="height:30px; width:30px;" /></td>
                                        <td>{{ u.username }}</td>
                                        <td>
                                            <span class="editable" data-pk="{{ u.id }}" data-name="{{ u.name }}" data-url="{% url 'user_edit_inline' %}">{{ u.name }}</span>
                                        </td>
                                        <td>
                                            {{ u.email }}
                                        </td>
                                        <td>{{ u.log_total }}</td>
                                        <td>
                                            <a href="javascript:void(0);" data-id="{{ u.id }}" data-field="admin" 
                                            data-value="{{ u.is_admin }}" data-url="{% url 'user_edit_inline' %}"
                                            class='editimg fa {% ifequal u.is_admin 1 %}fa-check-circle text-green{% else %}fa-times-circle text-red{% endifequal %}'></a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" data-id="{{ u.id }}" data-field="active" 
                                            data-value="{{ u.is_active }}" data-url="{% url 'user_edit_inline' %}"
                                            class='editimg fa {% ifequal u.is_active 1 %}fa-check-circle text-green{% else %}fa-times-circle text-red{% endifequal %}'></a>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary btn-xs" href="{% url 'user_edit' %}?id={{ u.id }}"><i class="fa fa-edit"></i> 编辑</a> 

                                            <a href="javascript:void(0);" data-id="{{ u.id }}"  
                                            data-url="{% url 'user_del' %}"
                                            class="btn btn-xs btn-danger file_del">删除</a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>

                            </div>
                            <div class="box-footer clearfix">
                                {% include 'admin/public/paginator.html' %}
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        {% include 'admin/public/load_foot.html' %}
    </div>
<!-- <script>
    $(document).ready(function(){
        $('.file_del').click(function(){
            var row = $(this).closest('tr');
            if (confirm("确定删除")) {
            $.get(
                    $(this).attr('value'),
                    {},
                    function(data){
                        row.remove();
                        alert(data);
                    }
            )}
        });
    });

    $(function(){
    $('.editable').editable({
        emptytext: "empty",
        params: function(params){
            var data = {};
            data['id'] = params.pk
            data['name'] = params.value
            return data;
        },
        success: function(response, newValue){
            var res = $.parseJSON(response);
            if (res.status == 1) {

            }else{
                return res.info;
            }
        }
    });
});
</script> -->
    {% include 'admin/public/load_bottom.html' %}
</body>
</html>
