
{% include 'admin/public/load_top.html' %}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        
        {% include 'admin/public/load_header.html' %}
        {% include 'admin/public/load_sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    BLOG-ADMIN<small>Version 1.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
        </div>
        <!-- /.content-wrapper -->


        {% include 'admin/public/load_foot.html' %}
    </div>
    {% include 'admin/public/load_bottom.html' %}
</body>
</html>
