{% load common_func %}
{% include 'admin/public/load_top.html' %}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        
        {% include 'admin/public/load_header.html' %}
        {% include 'admin/public/load_sidebar.html' %}


        <div class="content-wrapper">
        <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    登录日志列表
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                                <div class="pull-left">
                                    <a class="btn btn-sm btn-danger delete-all" href="javascript:void(0);" data-url="{% url 'login_del' %}" ><i class="fa fa-trash"></i>删除</a>  
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table class="table table-bordered table-hover table-sort">
                                    <tr>
                                        <th width="35"><input type="checkbox" class="minimal checkbox-toggle"></th>
                                        <th>id</th>
                                        <th>IP</th>
                                        <th>登录名</th>
                                        <th>省</th>
                                        <th>城市</th>
                                        <th>县/区</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                    {% for l in logs.object_list %}
                                    <tr>
                                        <td><input type="checkbox" name="id[]" value="{{ l.id }}" class="minimal"></td>
                                        <td>{{ l.id }}</td>
                                        <td>{{ l.ip }}</td>
                                        <td>{{ l.name }}</td>
                                        <td>{{ l.province }}</td>
                                        <td>{{ l.city }}</td>
                                        <td>{{ l.district }}</td>
                                        <td>{{ l.date }}</td>
                                        <td>
                                            <a href="javascript:void(0);" data-id="{{ l.id }}"  
                                            data-url="{% url 'login_del' %}"
                                            class="btn btn-xs btn-danger delete-one">删除</a>

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>

                            </div>
                            <div class="box-footer clearfix">
                                {% include 'admin/public/paginator.html' %}
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- /.content -->
        </div>
        {% include 'admin/public/load_foot.html' %}
    </div>
    {% include 'admin/public/load_bottom.html' %}
</body>
</html>
