{% extends 'blog/public/base.html' %}
{% block top_temp_resource %}
<link rel="stylesheet" href="/static/plugins/editor.md/css/editormd.css" />
{% endblock %}
{% block content %}
{% load common_func %}
<div class="container blog-main animate bounceInDown">

    <br>
    <div class="rows">
        <div class="col-md-2 col-lg-2 col-sm-0"></div>
    
        <div class="col-md-8 col-lg-8 col-sm-12">
            <article class="article">
                <header>
                    <h1 class="text-center">{{ p.title }}</h1>
                    <dl class="dl-inline">
                      <dt>来源：</dt>
                      <dd>{{ p.source }}</dd>
                      <dt>最后修订：</dt>
                      <dd>{{ p.data|date:"Y-m-j" }}</dd>
                      <dt></dt>
                      <dd class="pull-right">
                        <span class="label label-success"><i class="fa fa-lemon-o" title="标签：{{ p.category }}" data-toggle="tooltip"> {{ p.category }}</i> </span>&nbsp;
                        <span class="label label-warning"><i class="fa fa-commenting-o" title="评论：{{ p.comment_total }}" data-toggle="tooltip" > {{ p.comment_total }}</i></span> &nbsp;
                        <span class="label label-info"></span> <span class="label label-danger"><i class="fa fa-eye" title="浏览：{{ p.views }}" data-toggle="tooltip" > {{ p.views }}
                            </i></span>&nbsp;
                        </dd>
                    </dl>
                    <section class="abstract">
                      <p><strong>摘要：</strong>{{ p.description }}</p>
                    </section>
                </header>
                <section class="content">
                    <div id="wordsView">
                        <textarea style="display:none;" name="editormd-markdown-doc">
                                {{ p.content|safe }}
                            </textarea>
                    </div>
                </section>
            </article>
            <br>
            <br>
            <div class="pull-left text-danger share">
                <a class="bds_tsina fa fa-weibo fa-2x" title="分享到新浪微博" data-toggle="tooltip" href="http://v.t.sina.com.cn/share/share.php?url=http://www.yangxiao.online{{ request.get_full_path }}&title={{ p.title }}" target="_blank">
                </a>

                <a class="bds_qzone fa fa-star fa-2x" title="分享到QQ空间" data-toggle="tooltip" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://yangxiao.online{{ request.get_full_path }}&showcount=1&desc=&summary={{ p.description }}&title={{ p.title }}" target="_blank" >
                </a>
                <a class="bds_sqq fa fa-qq fa-2x" title="分享到QQ好友" data-toggle="tooltip" href="http://connect.qq.com/widget/shareqq/index.html?url=http://yangxiao.online{{ request.get_full_path }}&desc=&title={{ p.title }}&summary={{ p.description }}" target="_blank">
                    
                </a>
            </div>
            <div class="pull-right">
                <button class="btn dislike btn-warning arc-thumbs" type="button" data-id="{{ p.id }}" data-kind="0" data-url="{% url 'blog_thumbs' %}" title="差评" data-toggle="tooltip" >
                    <i class="fa fa-thumbs-o-down"></i>
                    <span>{{ p.dislike }}</span>
                </button>    

                <button class="btn btn-danger like arc-thumbs" type="button" data-id="{{ p.id }}" data-kind="1" data-url="{% url 'blog_thumbs' %}" title="点赞" data-toggle="tooltip" >
                    <i class="fa fa-thumbs-o-up"></i>
                    <span>{{ p.like }}</span>
                </button>  
            </div>
            <br>
            <hr>
            <div>
                {{ preview_show|safe }}
            </div>
            <br>
            <hr>

            <div class="comments">
                <header>
                    <div class="pull-right"><a href="#commentReplyForm2" class="btn btn-primary"><i class="icon-comment-alt"></i> 发表评论</a></div>
                    <h3>所有评论</h3>
                </header>
                {% ifnotequal p.comment_total 0 %}
                <section class="comments-list">
                    {% for  c in comments %}
                    <div class="comment">
                        <a href="#" alt="{{ c.uid|user_info:'profile' }}" class="avatar"><img src="{{ c.uid|user_info:'profile' }}" height="30px" width="30px"></a>
                        <div class="content">
                            <div class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{ c.data|date:"Y-m-j"}}</div>
                            <div><a href="###"><strong>{{ c.uid|user_info:'username' }}</strong></a></div>
                            <div class="text">{{ c.content|safe }}</div>

                            {% ifnotequal request.COOKIES.uid None %}
                            <div class="actions">
                                <a href="javascript:void(0);" data-ruid="{{ c.uid }}" data-pcid="{{ c.id }}" class="arc-btn">回复</a>
                            </div>
                            {% endifnotequal %}
                        </div>

                        {% ifequal c.id|is_reply 0 %}
                        {% else %}
                        <div class="comments-list">
                            {% for r in c.id|reply %}
                            {% ifnotequal r 0 %}
                            <div class="comment">
                                <a href="###" class="avatar">
                                    <img src="{{ r.uid|user_info:'profile' }}" height="30px" width="30px">
                                </a>
                                <div class="content">
                                    <div class="pull-right text-muted"><i class="fa fa-clock-o">{{ r.data|date:"Y-m-j"}}</i></div>

                                    <div>
                                        <a href="###"><strong>{{ r.uid|user_info:'username' }}</strong></a> 

                                        {% ifequal r.id|reply_user:c.uid 1 %}
                                        <span class="text-muted">回复</span> <a href="###">{{ r.ruid|user_info:'username' }}</a>
                                        {% endifequal %}
                                    </div>
                                    <div class="text">{{ r.content|safe }}</div>
                                    <div class="actions">
                                        {% ifnotequal request.COOKIES.uid None %}
                                        <a href="javascript:void(0);" data-ruid="{{ r.uid }}" data-pcid="{{ c.id }}" class="arc-btn">
                                            回复
                                        </a>
                                        {% endifnotequal %}
                                    </div>
                                </div>
                            </div>
                            {% endifnotequal %}
                            {% endfor %}
                        </div>
                        {% endifequal %}
                    </div>
                    {% endfor %}
                    <div class="new-load-box"></div>
                </section>
                <br>
                <section>
                    <button class="btn btn-success btn-block" id="new-load-btn" data-page="2"
                data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 加载中..." data-url="{% url 'paper_detail' %}" data-id="{{ p.id }}" >加载更多评论</button>
                </section>
                {% endifnotequal %}

                {% ifnotequal request.COOKIES.uid None %}
                <footer class="guestbook_box">
                    <div class="reply-form" id="commentReplyForm2">
                       
                        <form class="arc-form clearfix" method="POST" action="{% url 'paper_comment' %}" onsubmit="" >
                            <input type="hidden" name="ruid" value="0" />
                            <input type="hidden" name="pcid" value="-1" />
                            <input type="hidden" name="pid" value="{{ p.id }}" />
                            <input type="hidden" name="uid" value="{{ request.COOKIES.uid }}" />
                             
                            <div class="form-group">
                                <textarea class="form-control new-comment-text" id="gb_content" name="content" rows="3" style="resize:none;" placeholder="冲鸭！"></textarea>
                            </div>

                            <div class="form-group comment-user">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </footer>
                {% else %}
                <footer>
                    <div align="center" style="position: relative;z-index: 1">
                        请先<a href="{% url 'login' %}">登录</a>，再发表留言。
                    </div>
                </footer>
                {% endifnotequal %}
            </div>
            <hr>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-0"></div>
    </div>
</div>
{% endblock %}
{% block temp_resource %}
<script src="/static/plugins/editor.md/lib/marked.min.js"></script>
<script src="/static/plugins/editor.md/lib/prettify.min.js"></script>
<script src="/static/plugins/editor.md/lib/raphael.min.js"></script>
<script src="/static/plugins/editor.md/lib/underscore.min.js"></script>
<script src="/static/plugins/editor.md/editormd.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var wordsView;
        wordsView = editormd.markdownToHTML("wordsView", {
            htmlDecode : "style,script,iframe|on*",  // you can filter tags decode
            codeFold : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            tocm            : true,         // Using [TOCM]
        });
    })
</script>
{% endblock %}