{% extends 'blog/public/base.html' %}

{% block content %}
{% load common_func %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title"></h1>
    </div>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
            <br>
                {% if error %}
                <h1>
                    <div class="alert alert-danger text-center">
                        {{ error }}
                    </div>
                </h1>
                {% endif %} 
                <hr>
                <br>
            </div>
        </div><!-- /.blog-main -->

        <!-- sidebar -->
        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            {% include "blog/public/sidebar.html" %}
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
{% endblock %}
