{% extends 'blog/public/base.html' %}
{% block content %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">文章列表</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
            <br>
                {% for p in papers %}
                	<a class="card" {% ifequal p.is_jump 0 %} href="{% url 'paper_detail' %}?pid={{ p.id }}" {% else %} 
                    href="{{ p.jumplink }}" target="_blank" {% endifequal %} title="{{ p.title }}">
					  <img src="p.img_url" alt="">
					  <div class="card-heading"><strong>{{ p.title }}</strong></div>
					  <div class="card-content text-muted">{{ p.description }}</div>
					  <div class="card-actions">
					    <span class="label label-primary">
					    	<i class="fa fa-lemon-o" title="文章标签：{{ p.category }}" data-toggle="tooltip"> {{ p.category }}</i> 
					    </span>
					    <span class="label label-success">
	                        <i class="fa fa-clock-o" title="时间：{{ p.date|date:'Y-m-j' }}" data-toggle="tooltip" > {{ p.data|date:"Y-m-j" }}</i>
	                    </span>
	                    <span class="label label-info">
	                        <i class="fa fa-commenting-o" title="评论：{{ p.comment_total }}" data-toggle="tooltip" > {{ p.comment_total }}</i>
	                    </span>

					    <div class="pull-right">	                    <span class="label label-warning">
	                        <i class="icon-heart-empty" title="点赞：{{ p.like }}" data-toggle="tooltip" > {{ p.like }}</i>
	                    </span></div>
					  </div>
					</a>
                {% endfor %}
        
                <div class="new-load-box"></div>
                    <div class="x-mb-15" style="padding: 30px 0px 30px 0px;">
                        <button class="btn btn-block" id="new-load-btn" data-page="2" data-id="0" data-url="{% url 'blog_index' %}"
            data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 加载中..." >加载更多文章</button>
                    </div>
                </div>
        </div><!-- /.blog-main -->

        <!-- sidebar -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        	<div class="sidebar-module">
        		<form class="navbar-form navbar-left" action="{% url 'blog_search' %}" method="GET">
                    <div class="row">
                        <div class="form-group col-xs-8">
                            <input type="text" name="k" class="form-control" placeholder="输入关键词搜索..." />
                        </div> 
                        <div class="col-xs-2">
                            <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
        	</div>
            <div class="sidebar-module sidebar-module-inset alert alert-warning"  role="alert">
                <h4>注意！</h4>
                <p>著作版权归本网站所有，若有侵权，请联系。</p>
            </div>

            <div class="sidebar-module">
                <h4 class="bs-callout bs-callout-info" >文档分类</h4>{% include 'blog/public/cate.html' %}
            </div><hr>
            <div class="sidebar-module">
                <h4 class="bs-callout bs-callout-danger">热门文章</h4>
                {% include 'blog/public/hot.html' %}
            </div><hr>
        </div>
    </div>
</div>
{% endblock %}