{% load common_func %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ 'title'|getConfig }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<meta name="keywords" content="{{ 'keywords'|getConfig }}">
	<meta name="description" content="{{ 'description'|getConfig }}">
	<meta property="wb:webmaster" content="44e776a059a7b560" />
	{% include 'blog/public/load_top.html' %}
</head>